<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/estilos/style_cabecalho.css">
    <link rel="stylesheet" href="/static/estilos/style_padrao.css">
    <title>GUIC - Guia do Calouro</title>
</head>

<body>
    <nav class="cabecalho_flutuante">
        <div class="flut">
            <div class="caixa_flutuante" id="flutuante">
                <div class="boquin">
                    <a href="" class="suap_caixa">SUAP</a>
                    <img class="img_suap" src="/static/imagens/suap.png">
                </div>
                <div class="boquin">
                    <a href="/" class="sair">Sair</a>
                    <img class="img_sair" src="/static/imagens/sair.svg">
                </div>

            </div>
        </div>

        <div class="cabecalho">
            <div class="icon_texto">
                <img class="logo_if" src="/static/imagens/Logotipo.svg" alt="imagem da logo do IF">
                <h4 class="texto_cabecalho">Educação, Ciência e Tecnologia do Rio Grande do Norte</h4>
            </div>
            <div class="item_e_midia">
                <div class="midia">
                    <a href="https://www.instagram.com/ifrnapodi/">
                        <img class="img_insta" src="/static/imagens/instagram.svg.svg"
                            alt="imagem da logo do instagram">
                    </a>
                    <a href="https://www.facebook.com/ifrncampusapodi">
                        <img class="img_facebook" src="/static/imagens/facebook.svg.svg"
                            alt="Imagem da logo do facebook">
                    </a>
                    <a href="https://www.youtube.com/channel/UCJJpMy5yo8fl7HH2ElVlF-A">
                        <img class="img_youtube" src="/static/imagens/youtube.svg.svg" alt="imagem da logo do youtube">
                    </a>
                </div>

                <div class="menu_lateral">

                    <img class="tres_linha" id="linhas" src="/static/imagens/three-line.svg.svg" alt="três linhas">

                    <a href="/homepage">
                        <h3 class="texto_inicio">Início </h3>
                    </a>


                </div>
            </div>

        </div>
        <div class="faixa_verde">
            <a href="/eventos">
                <img class="img_back" src="/static/imagens/back.svg">
            </a>
            <div class="faixa">
                <h1 class="txt_fv">Eventos: FEISA</h1>
            </div>
            <div class="icone">
                
            </div>
        </div>
    </nav>

    <div class="conteudo">
        <div class="container_1">

            <img src="/static/imagens/capa_feisa_05.png" class="foto" alt="">


            <h1 class="titulos_frente">FEISA</h1>
        </div>

        <div class="textinho">
            <p class="paragrafo">O FEISA (Festival Esportivo de Integração dos Segundos Anos) é um evento do IFRN – Campus Apodi, dedicado exclusivamente aos estudantes do segundo ano. O festival tem como objetivo promover a prática esportiva e fortalecer os laços de integração entre os alunos, por meio de competições em diversas modalidades. O FEISA busca estimular a prática do esporte escolar com fins educativos, ampliando o intercâmbio social cultural e esportivo entre os participantes.</p>
        </div>

        <div class="horario">
            <h3><strong>Data:</strong></h3>
            <div class="caixa">
                <p>XX/XX/XX</p>
                
            </div>
        </div>

    </div>
    </div>

    <footer>
        <h6 class="chao">Copyright © 2024 | GuiC - Guia do Calouro</h6>
    </footer>
    <script src="/static/scripts/script.js"></script>

</body>

</html>