<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/estilos/style_cabecalho.css">
    <link rel="stylesheet" href="/static/estilos/style_padrao.css">
    <title>GUIC - Guia do Calouro</title>
</head>

<body>
    <nav class="cabecalho_flutuante">
        <div class="flut">
            <div class="caixa_flutuante" id="flutuante">
                <div class="boquin">
                    <a href="" class="suap_caixa">SUAP</a>
                    <img class="img_suap" src="/static/imagens/suap.png">
                </div>
                <div class="boquin">
                    <a href="/" class="sair">Sair</a>
                    <img class="img_sair" src="/static/imagens/sair.svg">
                </div>

            </div>
        </div>

        <div class="cabecalho">
            <div class="icon_texto">
                <img class="logo_if" src="/static/imagens/Logotipo.svg" alt="imagem da logo do IF">
                <h4 class="texto_cabecalho">Educação, Ciência e Tecnologia do Rio Grande do Norte</h4>
            </div>
            <div class="item_e_midia">
                <div class="midia">
                    <a href="https://www.instagram.com/ifrnapodi/">
                        <img class="img_insta" src="/static/imagens/instagram.svg.svg"
                            alt="imagem da logo do instagram">
                    </a>
                    <a href="https://www.facebook.com/ifrncampusapodi">
                        <img class="img_facebook" src="/static/imagens/facebook.svg.svg"
                            alt="Imagem da logo do facebook">
                    </a>
                    <a href="https://www.youtube.com/channel/UCJJpMy5yo8fl7HH2ElVlF-A">
                        <img class="img_youtube" src="/static/imagens/youtube.svg.svg" alt="imagem da logo do youtube">
                    </a>
                </div>

                <div class="menu_lateral">

                    <img class="tres_linha" id="linhas" src="/static/imagens/three-line.svg.svg" alt="três linhas">

                    <a href="/homepage">
                        <h3 class="texto_inicio">Início </h3>
                    </a>


                </div>
            </div>

        </div>
        <div class="faixa_verde">
            <a href="/setores">
                <img class="img_back" src="/static/imagens/back.svg">
            </a>
            <div class="faixa">
                <h1 class="txt_fv">Setores: COAPAC</h1>
            </div>

            <div class="icone">
                <img class="imag" src="/static/imagens/icon_coapac.svg">
            </div>
        </div>
    </nav>

    <div class="conteudo">
        <div class="container_1">

            <img src="/static/imagens/coapac.png" class="foto" alt="">


            <h1 class="titulos_frente">COAPAC</h1>
        </div>

        <div class="textinho">
            <p class="paragrafo">A COAPAC (Coordenação de Apoio Acadêmico) é um setor presente nos diversos campi do
                Instituto Federal do Rio Grande do Norte (IFRN) com a missão de oferecer suporte acadêmico aos
                estudantes. Esse núcleo é responsável por auxiliar em questões relacionadas ao desempenho escolar,
                acompanhamento pedagógico, orientação educacional e encaminhamentos para outros serviços de apoio, como
                psicologia e assistência social.
            </p>
        </div>

        <div class="horario">
            <h3><strong>Horário de Funcionamento:</strong></h3>
            <div class="caixa">
                <p>SEGUNDA À SEXTA: XXH - XXH</p>
                <p>SÁBADO E DOMINGO: FECHADO</p>
                <p>FERIADOS: FECHADO</p>
            </div>
        </div>

    </div>
    </div>

    <footer>
        <h6 class="chao">Copyright © 2024 | GuiC - Guia do Calouro</h6>
    </footer>

    <script src="/static/scripts/script.js"></script>
</body>

</html>