<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos/style_cabecalho.css') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos/style_eventos.css') }}  ">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='imagens/icon-_1_.ico') }} ">

    <title>GUIC - Guia do Calouro </title>
</head>

<body>

    
    <div class="tela_adiconar" id="telinha">
        <div class="caixa_tela">
            <a class="sair_formulario" id="bnt_sair">
                <img src="{{ url_for('static', filename='imagens/back.svg') }}   " alt="">
            </a>
            <div class="caixa_formulario">
                <div class="form-container">
                    <h1>Eventos</h1>
                    <form action="/submit_evento" method="post" enctype="multipart/form-data">

                        <div class="limites_da_caixa">
                        <div class="juncao">
                        <label for="foto">Foto</label>
                        <input type="file" id="foto" name="foto" ><br>
                        </div>

                        <div class="juncao">
                        <label for="nome">Nome do evento</label>
                        <input type="text" id="nome" name="nome" placeholder="Digite o nome do setor" required><br>
                        </div>

                        <div class="juncao">
                            <label for="nome">Local</label>
                            <input type="text" id="Local" name="Local" placeholder="local do evento" required><br>
                        </div>

                        <div class="juncao">
                                <label for="nome">Data</label>
                                <input type="date" id="Data" name="Data" placeholder="Data do evento" required><br>
                        </div>

                        <div class="juncao">
                        <label for="descricao">Descrição</label>
                        <input type="text" id="descricao" name="descricao" placeholder="Descreva a função do setor" required><br>
                        </div>

                        <div class="juncao">
                        <label for="responsaveis">Responsáveis</label>
                        <input type="text" id="responsaveis" name="responsaveis" placeholder="Digite os responsáveis" required><br>
                        </div>

                        <div class="juncao">
                        <label for="email">Contato Email</label>
                        <input type="email" id="email" name="email" placeholder="Digite o Email de contato" required><br>
                        </div>

                        <div class="juncao">
                        <label for="numero">Contato Número</label>
                        <input type="number" id="numero" name="numero" placeholder="Numero de telefone de contato" ><br>
                        </div>

                        <div class="juncao">
                        <label for="autorizacao">Autorização</label>
                        <input type="number" id="autorizacao" name="autorizacao" placeholder="Digite sua matricula" required><br>
                        </div>
                        </div>

                        <div class="campo_foto">
                            <div class="foto_fundo">
                                <img src="" alt="">
                            </div>
                            <div class="foto_card">
                                <img src="" alt="">
                            </div>
                            
                        </div>

                        <button type="submit" >Enviar</button>
                    </form>
                </div>
            
            </div>
        </div>
    </div>

    <nav class="cabecalho_flutuante">
        <div class="flut">
            <div class="caixa_flutuante" id="flutuante">
                <div class="boquin">
                    <a href="" class="suap_caixa">SUAP</a>

                    <img class="img_suap" src="{{ url_for('static', filename='imagens/suap.png') }}  ">
                </div>
                <div class="boquin">
                    <a href="/" class="sair">Sair</a>
                    <img class="img_sair" src="{{ url_for('static', filename='imagens/sair.svg') }}   ">

                </div>

            </div>
        </div>

        <div class="cabecalho">
            <div class="icon_texto">

                <img class="logo_if" src="{{ url_for('static', filename='imagens/Logotipo.svg') }}   " alt="imagem da logo do IF">

                <h4 class="texto_cabecalho">Educação, Ciência e Tecnologia do Rio Grande do Norte</h4>
            </div>
            <div class="item_e_midia">
                <div class="midia">
                    <a href="https://www.instagram.com/ifrnapodi/">

                        <img class="img_insta" src="{{ url_for('static', filename='imagens/instagram.svg.svg') }}  "
                            alt="imagem da logo do instagram">
                    </a>
                    <a href="https://www.facebook.com/ifrncampusapodi">
                        <img class="img_facebook" src="{{ url_for('static', filename='imagens/facebook.svg.svg') }} "
                            alt="Imagem da logo do facebook">
                    </a>
                    <a href="https://www.youtube.com/channel/UCJJpMy5yo8fl7HH2ElVlF-A">
                        <img class="img_youtube" src="{{ url_for('static', filename='imagens/youtube.svg.svg') }}  " alt="imagem da logo do youtube">

                    </a>
                </div>

                <div class="menu_lateral">


                    <img class="tres_linha" id="linhas" src="{{ url_for('static', filename='imagens/three-line.svg.svg') }} " alt="três linhas">


                    <a href="/homepage">
                        <h3 class="texto_inicio">Início </h3>
                    </a>


                </div>
            </div>

        </div>

        <div class="faixa_verde">
            <a href="/homepage">

                <img class="img_back" src="{{ url_for('static', filename='imagens/back.svg') }} ">

            </a>

            <div class="faixa">
                <h1 class="txt_fv">Eventos</h1>
            </div>

            <div class="icone">
                <img src="">
            </div>

        </div>
    </nav>



    <div class="tudo">
        <div class="container">

            <div class="list-banner-atras">

                <div class="objct" id="event1"><img src="{{ url_for('static', filename='imagens/capa_consciencia_01.png') }} "></div>
                <div class="objct" id="event2"><img src="{{ url_for('static', filename='imagens/capa_enquicap_02.png') }} "></div>
                <div class="objct" id="event3"><img src="{{ url_for('static', filename='imagens/capa_expoap_03.png') }}  "></div>
                <div class="objct" id="event4"><img src="{{ url_for('static', filename='imagens/capa_expotec_04.png') }}    "></div>
                <div class="objct" id="event5"><img src="{{ url_for('static', filename='imagens/capa_feisa_05.png') }}   "></div>
                <div class="objct" id="event5"><img src="{{ url_for('static', filename='imagens/capa_informatica_06.png') }}   "></div>
                <div class="objct" id="event5"><img src="{{ url_for('static', filename='imagens/capa_intercalouros_07.png') }} "></div>
                <div class="objct" id="event5"><img src="{{ url_for('static', filename='imagens/capa_linguagens_08.png') }}   "></div>
                <div class="objct" id="event5"><img src="{{ url_for('static', filename='imagens/capa_secitex_09.png') }}  "></div>
                <div class="objct" id="event5"><img src="{{ url_for('static', filename='imagens/capa_semadec_10.png') }} "></div>
                <div class="objct" id="event5"><img src="{{ url_for('static', filename='imagens/capa_start_11.png') }}  "></div>



            </div>
        </div>
        <div class="list-acessos">

            <div class="acesso">
                <a href="">SEMANA DE LINGUAGEM</a>
            </div>
            <div class="acesso">
                <a href="">SECITEX</a>
            </div>
            <div class="acesso">
                <a href="">SEMADEC</a>
            </div>
            <div class="acesso">
                <a href="">START</a>
            </div>
            <div class="acesso">
                <a href="">SEMANA DA CONSCIÊNCIA NEGRA</a>
            </div>
            <div class="acesso">
                <a href="">ENQUICAP</a>
            </div>
            <div class="acesso">
                <a href="">EXPOAP</a>
            </div>
            <div class="acesso">
                <a href="">EXPOTEC</a>
            </div>
            <div class="acesso">
                <a href="">FEISA</a>
            </div>
            <div class="acesso">
                <a href="">SEMANA DA INFORMÁTICA</a>
            </div>
            <div class="acesso">
                <a href="">INTERCALOUROS</a>
            </div>

        </div>

        <div class="botons">

            <button class="botao" id="back">

                <img src="{{ url_for('static', filename='imagens/back.svg') }}  ">

            </button>

            <div class="list-bolinhas">
                <div class="boll"></div>
                <div class="boll"></div>
                <div class="boll" id="selecionada"></div>
                <div class="boll"></div>
                <div class="boll"></div>
                <div class="boll"></div>
                <div class="boll"></div>
                <div class="boll"></div>
                <div class="boll"></div>
                <div class="boll"></div>
                <div class="boll"></div>

            </div>


            <button class="botao" id="next">

                <img src="{{ url_for('static', filename='imagens/next.svg') }}     ">

            </button>


        </div>

    </div>


    <div class="list-banner-frente">

    </div>


    </div>


    <footer>
        <h6 class="chao">Copyright © 2024 | GuiC - Guia do Calouro</h6>
    </footer>


    <script src="{{ url_for('static', filename='scripts/script.js') }} "></script>

</body>

</html>